:root {
	--accent: #CBA6F7;
	--bg: #181825;
	--fg: #C8D1EE;
	--margin: 5px;
	--border: 5px;
	--padding: 5px;
	--red: #F38BA8;
}

@media screen and (max-width: 650px) {
	.window {
		background-color: var(--bg);
		color: var(--fg);
		border: var(--border) solid var(--accent);
		border-radius: 5px;
		margin: var(--margin);
		min-width: 95%;
	}
}
@media screen and (min-width: 651px) {
	.window {
		background-color: var(--bg);
		color: var(--fg);
		border: var(--border) solid var(--accent);
		border-radius: 5px;
		margin: var(--margin);
	}
}
.window > .top {
	padding: var(--padding);
	border-bottom: var(--border) solid var(--accent);
	font-size: 35px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background: linear-gradient(90deg, var(--bg), var(--bg), var(--accent));
}
.window > .top > * {
	background: transparent;
}
.guestbook {
	height: 500px;
}
.window > .bottom{
	min-height: 0px;
	padding: var(--padding);
	flex-direction: column;
}
.window > .top > .right > a > img, .window > .top > .right > img {
	max-height: 40px;
	padding-right: var(--padding);
	cursor: pointer;
}

.window > .top > .left {
	align-self: flex-start;
}

.window > .top > .right {
	display: flex;
	align-self: flex-end;
	justify-content: flex-end;
}
.aboutme {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.aboutme > .right > img {
	min-width: 62.2px;
	max-width: 10vw;
}
.aboutme > .right {
	align-self: flex-end;
}
.aboutme > .left {
	align-self: flex-start;
}
.diagnosis {
	display: flex;
	flex-direction: column;
}
.window > .bottom > p {
	margin: var(--margin);
}
.gallery > div > img {
	max-width: 15vw;
}

@media screen and (max-width: 650px) {
	.gallery > div {
		min-width: 95%;
	}
}
.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.center {
	display: flex;
	justify-content: center;
}
.pages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
	.pages > .window {
		min-width: 95%;
	}
}
@media screen and (min-width: 651px) {
	.pages > .window {
		min-width: 35vw;
		max-width: 95%;
	}
}
.pages > .window > .bottom > a > img {
	min-width: 34vw;
	max-width: 39vw;
}
.socials {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.image {
	max-width: 25vw;
}
.gallery > div > .window > .bottom > img {
		background-image: url("../background.jpg");
		background-repeat: no-repeat;
		background-size: 185%;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--padding);
	border: var(--border) solid var(--accent);
}
.here {
	background: var(--red);
	color: var(--bg);
	padding: var(--padding);
}
.topmusic {
	display: flex;
	justify-content: space-between;
}
.topmusic2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.topmusic2 > img {
	width: 10vw;
}
.anim > img {
	width: 10vw;
}
.animations {
	display: flex;
	flex-wrap: wrap;
}
.animations > .window {
	max-width: 45vw;
}

.gam > img {
	width: 10vw;
}
.gam > p {
	color: var(--accent);
	font-size: 25px;
}
.anim > p {
	color: var(--accent);
	font-size: 25px;
}
.games {
	display: flex;
	flex-wrap: wrap;
}
.games > .window {
	max-width: 45vw;
}
.KeyBox {
	display: flex;
	font-size: 40px;
	flex-wrap: wrap;
}
.Button {
	border: var(--border) solid var(--accent);
	margin: var(--padding);
	border-radius: 5px;
	padding: var(--padding);
	cursor: pointer;
}
.stamps > img{
	padding: var(--padding);
	width: 109px;
	height: 66px;
	min-width: 109px;
	min-height: 66px;
	max-width: 109px;
	max-height: 66px;
}
.blinkies > a > img {
	padding: var(--padding);
}
